body {
  font-family: 'Poppins', sans-serif;
  color: #22343d;
  background-color: #fff;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

button {
  cursor: pointer;
}

/* ========= #region header ========= */

.header {
  padding-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-right: 73px;
  align-items: center;
}
.logo {
  margin-right: 273px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}
.nav-list {
  display: flex;
  gap: 30px;
}
.nav-link {
  line-height: 1.75;
  padding: 26px 0;
  display: block;
}
.current {
  font-weight: 600;
}

.header-list-btn {
  display: flex;
  gap: 21px;
}
.sign-in-btn {
  background: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;

  color: #173a56;
  width: 105px;
  height: 42px;
}
.sign-up-btn {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  border: none;
}
.current {
  font-weight: 600;
}
/* ========= #endregion header ========= */

/* ========= #region hero ========= */

.hero {
}
.container {
}
.hero-container {
  display: flex;
  align-items: center;
  padding-bottom: 102px;
}
.hero-wrap {
  width: 465px;
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  padding-bottom: 18px;
}
.hero-desrc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  padding-bottom: 45px;
}
.hero-list {
  display: flex;
  gap: 30px;
  align-items: center;
}
.hero-list-item {
}
.hero-btn-first {
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
}
.hero-btn-second {
  width: 164px;
  height: 23px;
  background: transparent;
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  border: none;
}
.hero-img {
}

/* ========= #endregion hero ========= */

/* ========= #region PRODUCT ========= */
.product {
}

.product-container {
  padding-bottom: 50px;
}
.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 50px;
}
.product-list-item {
  width: 255px;
}
.product-list-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-bottom: 13px;
}
.product-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}
.product-btn {
  border-radius: 4px;
  width: 175px;
  height: 53px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: none;
  margin-bottom: 50px;
}
/* ========= #endregion PRODUCT ========= */

/* ========= #region Management ========= */
.management {
  padding-bottom: 100px;
}
.management-container {
  display: flex;
  align-items: center;
  gap: 84px;
}
.container {
}
.management-wrap {
}
.management-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 25px;
  width: 224px;
}
.management-part-title {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
  display: block;
}
.management-descr {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
  line-height: 1.625;
  color: #22343d;
}
.management-list-item {
  margin-bottom: 12px;
}
.management-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.management-list-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
}

.management-img {
}

/* ========= #endregion Management ========= */

/* ========= #region CUSTOMER SUPPORT ========= */

.customer {
  padding-bottom: 100px;
}
.container {
}
.customer-container {
  display: flex;
  gap: 84px;
  align-items: center;
}
.customer-wrap {
}
.customer-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 25px;
  min-width: 303px;
}
.customer-title-part {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
  display: block;
}
.customer-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}
.customer-list {
}
.customer-list-item {
}
.customer-list-descr {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;
  line-height: 1.625;
  color: #22343d;
}

/* ========= #endregion CUSTOMER SUPPORT ========= */

/* ========= #region COLLABORATIVE ========= */
.collaborative {
  padding-bottom: 100px;
}
.container {
}
.collaborative-container {
  display: flex;
  gap: 84px;
  align-items: center;
}

.collaborative-wrap {
}
.collaborative-title {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
  width: 226px;
  margin-bottom: 25px;
}
.collaborative-title-part {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-top: 8px;
  display: block;
}
.collaborative-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 30px;
}
.collaborative-list {
}
.collaborative-list-item {
}
.collaborative-list-title {
  font-weight: 600;
  font-size: 16px;

  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.collaborative-list-descr {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 25px;

  line-height: 1.625;
  color: #22343d;
}
/* ========= #endregion COLLABORATIVE ========= */

<!-- Quick & Easy -- > .process {
}

.container {
}
.process-container {
  padding-bottom: 100px;
}
.process-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  width: 348px;
  margin-bottom: 25px;
  text-align: center;
}
.process-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  width: 542px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  gap: 31px 100px;
  justify-content: center;
  margin-bottom: 50px;
}
.process-list-item:nth-child(2),
.process-list-item:nth-child(3) {
  flex-direction: row-reverse;
}
.process-list-item {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.process-list-img {
}
.process-list-text {
  background-color: #fff;

  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  height: 50px;
  width: 281px;
  border: 1px solid;
  border-color: transparent;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.process-btn {
  border-radius: 4px;
  width: 216px;
  height: 53px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* Contents Strategies */

.strategies {
}
.container {
}
.strategies-container {
  padding-bottom: 171px;
}
.strategies-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategies-descr {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 40px;
  width: 465px;
}
.strategies-list {
  display: flex;
  gap: 30px;
}
.strategies-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: 350px;
  height: 359px;
}
.strategies-list-img {
  margin-bottom: 24px;
}
.strategies-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  margin-bottom: 12px;
  margin-left: 24px;
}
.strategies-list-name {
  font-weight: 700;
}
.strategies-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  margin-left: 27px;
}
.strategies-list-item:nth-child(2) .strategies-list-title {
  color: #02897a;
}

/* Price Table section */
.price {
}
.container {
}
.price-container {
}
.price-title {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
  text-align: center;
}
.price-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 40px;
  text-align: center;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-list-item {
}
.price-list-title {
}
.price-list-descr {
}
.price-list-number {
}
.price-list-sign {
}
.price-list-period {
}
.card-list {
}
.card-list-item {
}
.card-btn {
}
